[env]
_.path = "target/debug"

[tasks.ci]
depends = ["lint", "build"]
run = [
  "cargo nextest run",
]

[tasks.docs]
dir = "docs"
run = "bun i && exec bun run docs:dev"

[tasks.lint]
run = "hk check"

[tasks.lint-fix]
run = "hk fix"

[tasks.build]
run = "cargo build"

[tasks.render]
depends = ["build"]
run = [
  "pitchfork usage > pitchfork.usage.kdl",
  "rm -rf docs/cli && mkdir -p docs/cli",
  "usage g markdown -mf pitchfork.usage.kdl --out-dir docs/cli --url-prefix /cli",
  "usage g json -f pitchfork.usage.kdl > docs/cli/commands.json",
  "pitchfork schema > docs/public/schema.json",
  "git add pitchfork.usage.kdl docs",
]

[tasks.install-dev]
env = { "PITCHFORK_LOG" = "debug" }
run = [
  "cargo install --path . --debug",
  "pitchfork sup start -f",
]

[tools]
bun = "latest" # for docs and test
cargo-binstall = "latest"
hk = "latest"
pkl = "latest" # for hk config
usage = "latest" # for rendering CLI usage
"cargo:cargo-nextest" = "latest"
