name "pitchfork-cli"
bin "pitchfork"
usage "Usage: pitchfork-cli <COMMAND>"
cmd "activate" help="Activate pitchfork in your shell session" {
    long_help r"Activate pitchfork in your shell session

Necessary for autostart/stop when entering/exiting projects with pitchfork.toml files"
    arg "<SHELL>" help="The shell to generate source for"
}
cmd "cd" hide=true {
    flag "--shell-pid" required=true {
        arg "<SHELL_PID>"
    }
}
cmd "clean" help="Removes stopped/failed daemons from `pitchfork list`" {
    alias "c"
}
cmd "config" help="manage/edit pitchfork.toml files" {
    alias "cfg"
    long_help r"manage/edit pitchfork.toml files

without a subcommand, lists all pitchfork.toml files from the current directory"
    cmd "add" help="Add a new daemon to pitchfork.toml" {
        alias "a"
    }
    cmd "remove" help="Remove a daemon from pitchfork.toml" {
        alias "rm"
    }
}
cmd "completion" help="Generates shell completion scripts" {
    arg "<SHELL>" help="The shell to generate completion for"
}
cmd "disable" help="Prevent a daemon from restarting" {
    alias "d"
}
cmd "enable" help="Allow a daemon to start" {
    alias "e"
}
cmd "list" help="List all daemons" {
    alias "ls"
    flag "--hide-header" help="Show header"
}
cmd "logs" help="Displays logs for daemon(s)" {
    alias "l"
    flag "-n" help="Show N lines of logs" {
        long_help "Show N lines of logs\n\nSet to 0 to show all logs"
        arg "<N>"
    }
    flag "-t --tail" help="Show logs in real-time"
    arg "[NAME]..." help="Show only logs for the specified daemon(s)" var=true
}
cmd "run" help="Runs a one-off daemon" {
    alias "r"
    flag "-f --force"
    arg "<NAME>" help="Name of the daemon to run"
    arg "[CMD]..." var=true
}
cmd "start" help="Starts a daemon from a pitchfork.toml file" {
    alias "s"
    arg "[NAME]..." help="Name of the daemon(s) in pitchfork.toml to start" var=true
}
cmd "status" help="Display the status of a daemon" {
    alias "stat"
    arg "<ID>"
}
cmd "stop" help="Kill a running daemon" {
    alias "kill"
}
cmd "supervisor" subcommand_required=true help="Start, stop, and check the status of the pitchfork supervisor daemon" {
    cmd "run" help="Runs the internal pitchfork daemon in the foreground" {
        flag "-f --force" help="kill existing daemon"
    }
    cmd "start" help="Starts the internal pitchfork daemon in the background" {
        flag "-f --force" help="kill existing daemon"
    }
    cmd "status" help="Gets the status of the pitchfork daemon"
    cmd "stop" help="Stops the internal pitchfork daemon running in the background"
}
cmd "usage" hide=true help="Generates a usage spec for the CLI" {
    long_help r"Generates a usage spec for the CLI

https://usage.jdx.dev"
}
cmd "wait" help="Wait for a daemon to stop, tailing the logs along the way" {
    alias "w"
    long_help r"Wait for a daemon to stop, tailing the logs along the way

Exits with the same status code as the daemon"
}

complete "id" run="pitchfork ls | awk '{print $1}'"

