name pitchfork
bin pitchfork
version "0.2.1"
about "Daemons with DX"
usage "Usage: pitchfork <COMMAND>"
cmd activate help="Activate pitchfork in your shell session" {
    long_help "Activate pitchfork in your shell session\n\nNecessary for autostart/stop when entering/exiting projects with pitchfork.toml files"
    arg <SHELL> help="The shell to generate source for"
}
cmd boot subcommand_required=#true help="Enable or disable boot start" {
    cmd enable help="Enable boot start for pitchfork supervisor"
    cmd disable help="Disable boot start for pitchfork supervisor"
    cmd status help="Check boot start status"
}
cmd cd hide=#true {
    flag --shell-pid required=#true {
        arg <SHELL_PID>
    }
}
cmd clean help="Removes stopped/failed daemons from `pitchfork list`" {
    alias c
}
cmd config help="manage/edit pitchfork.toml files" {
    alias cfg
    long_help "manage/edit pitchfork.toml files\n\nwithout a subcommand, lists all pitchfork.toml files from the current directory"
    cmd add help="Add a new daemon to ./pitchfork.toml" {
        alias a
        flag --autostart help="Autostart the daemon when entering the directory"
        flag --autostop help="Autostop the daemon when leaving the directory"
        arg <ID> help="ID of the daemon to add"
        arg "[ARGS]…" help="Arguments to pass to the daemon" required=#false double_dash=automatic var=#true
    }
    cmd remove help="Remove a daemon from pitchfork.toml" {
        alias rm
        arg <ID> help="The ID of the daemon to remove"
    }
}
cmd completion help="Generates shell completion scripts" {
    arg <SHELL> help="The shell to generate completion for"
}
cmd disable help="Prevent a daemon from restarting" {
    alias d
    arg <ID> help="Name of the daemon to disable"
}
cmd enable help="Allow a daemon to start" {
    alias e
    arg <ID> help="Name of the daemon to enable"
}
cmd list help="List all daemons" {
    alias ls
    flag --hide-header help="Show header"
}
cmd logs help="Displays logs for daemon(s)" {
    alias l
    flag "-c --clear" help="Delete logs"
    flag -n help="Show N lines of logs" {
        long_help "Show N lines of logs\n\nSet to 0 to show all logs"
        arg <N>
    }
    flag "-t --tail" help="Show logs in real-time"
    flag --from help="Show logs from this time (format: \"YYYY-MM-DD HH:MM:SS\")" {
        arg <FROM>
    }
    flag --to help="Show logs until this time (format: \"YYYY-MM-DD HH:MM:SS\")" {
        arg <TO>
    }
    arg "[ID]…" help="Show only logs for the specified daemon(s)" required=#false var=#true
}
cmd run help="Runs a one-off daemon" {
    alias r
    flag "-f --force"
    flag --retry help="Number of times to retry on error exit" {
        arg <RETRY>
    }
    flag "-d --delay" help="Delay in seconds before considering daemon ready (default: 3 seconds)" {
        arg <DELAY>
    }
    flag "-o --output" help="Wait until output matches this regex pattern before considering daemon ready" {
        arg <OUTPUT>
    }
    arg <ID> help="Name of the daemon to run"
    arg "[-- RUN]…" required=#false var=#true
}
cmd start help="Starts a daemon from a pitchfork.toml file" {
    alias s
    flag "-a --all" help="Start all daemons in all pitchfork.tomls"
    flag --shell-pid hide=#true {
        arg <SHELL_PID>
    }
    flag "-f --force" help="Stop the daemon if it is already running"
    flag --delay help="Delay in seconds before considering daemon ready (default: 3 seconds)" {
        arg <DELAY>
    }
    flag --output help="Wait until output matches this regex pattern before considering daemon ready" {
        arg <OUTPUT>
    }
    arg "[ID]…" help="ID of the daemon(s) in pitchfork.toml to start" required=#false var=#true
}
cmd status help="Display the status of a daemon" {
    alias stat
    arg <ID>
}
cmd stop help="Sends a stop signal to a daemon" {
    alias kill
    arg "[ID]…" help="The name of the daemon to stop" required=#false var=#true
}
cmd supervisor subcommand_required=#true help="Start, stop, and check the status of the pitchfork supervisor daemon" {
    alias sup
    cmd run help="Runs the internal pitchfork daemon in the foreground" {
        flag "-f --force" help="kill existing daemon"
        flag --boot help="run as boot start (auto-start boot_start daemons)"
    }
    cmd start help="Starts the internal pitchfork daemon in the background" {
        flag "-f --force" help="kill existing daemon"
    }
    cmd status help="Gets the status of the pitchfork daemon"
    cmd stop help="Stops the internal pitchfork daemon running in the background"
}
cmd usage hide=#true help="Generates a usage spec for the CLI" {
    long_help "Generates a usage spec for the CLI\n\nhttps://usage.jdx.dev"
}
cmd wait help="Wait for a daemon to stop, tailing the logs along the way" {
    alias w
    long_help "Wait for a daemon to stop, tailing the logs along the way\n\nExits with the same status code as the daemon"
    arg <ID> help="The name of the daemon to wait for"
}

complete "id" run="pitchfork ls | awk '{print $1}'"

